name: Cloud Resume Deployment

on:
  push:
    branches:
      - main  # Run when you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy Terraform
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve

      - name: Deploy Frontend
        run: |
          aws s3 sync ./frontend s3://david-cloud-resume-challenge2025 --delete
